/*---| .b-title. |----------------------start----------------------------------------*/

.b-title {
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 41px;
  text-transform: uppercase;
  font-family: @dFont;
}

.b-title__im {
  color: #c82031;
  font-style: normal;
}

/*===| .b-title. |======================end==========================================*/