/*---| .b-nav |----------------------start----------------------------------------*/

.b-nav {

}

.b-nav_lnk {
  text-transform: uppercase;
  margin-right: 20px;
  font-family: @dFont;
}

/*===| .b-nav |======================end==========================================*/

/*---| .b-nav_move |----------------------start----------------------------------------*/

.b-nav_move {
  position: fixed;
}

/*===| .b-nav_move |======================end==========================================*/