/*---| .b-contacts |----------------------start----------------------------------------*/

.b-contacts {
}

.b-contacts__phones {

  font-size: 15px;
  line-height: 22px;
  font-family: @dFont;
  color: #1a2c5e;

}

.b-contacts__addr {
  font-size: 13px;
  line-height: 19px;
  width: 273px;
  
}
/*===| .b-contacts |======================end==========================================*/