/*---| .b-call-us |----------------------start----------------------------------------*/

.b-call-us {
  .clearFix();
  margin-left: 40px;
}

.b-call-us__img {
  background: url("@{blockPath}/i-img/b-call-us__img.png");
  width: 41px;
  height: 30px;
  float: left;
  margin-right: 19px;
}

.b-video__a,
.b-video__a:visited {
  color: #ad2c38;
}

/*===| .b-call-us |======================end==========================================*/