/*---| .b-tab-nav |----------------------start----------------------------------------*/

.b-tab-nav {
  margin-top: 50px
}

.b-tab-nav__nav-box {
  width: 240px;
  margin-right: 89px;
  float: left;
  margin-left: -21px;
}

.b-tab-nav__wrap {
  overflow: hidden;
  padding-top: 25px;
}

.b-tab-nav__a,
.b-tab-nav__a:visited {
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px dashed;
  color: #ffffff;
}

.b-tab-nav__menu-box {
  padding: 20px;
  color: #000000;
  font-family: @dFont;
  display: block;
  .transition(all, 0.3s, linear);
  text-decoration: none;
}

.b-tab-nav__menu-box_active {
  background: #ffffff;
}

.b-tab-nav__menu-box_active .b-tab-nav__a,
.b-tab-nav__menu-box_active .b-tab-nav__a:visited {
  color: #000000;
  border-bottom: none;
}

.b-tab-nav__content {
  color: #000000;
}

.b-tab-nav__txt-col {
  overflow: hidden;
}

.b-tab-nav__txt-content {
  margin-bottom: 29px;
  line-height: 1.3;
  font-size: 15px;
  color: #303030;
}

.b-tab-nav__img {
  position: relative;
  float: left;
  margin-right: 32px
}

.b-tab-nav__img:after {
  content: '';
  background: url("@{blockPath}/i-img/mask.png") no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.b-tab-nav__txt-content p {
  margin-bottom: 10px;
}

/*===| .b-tab-nav |======================end==========================================*/